{% extends "The_Main/base.html" %}



{% block title %}
Characters
{% endblock %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/character_style.css' %}">

    <style>
        .secluded-box {
            background-color: #ff0000; /* Example. */
        }

        .user_info {
            background-color: #ff0000; /* Example. */
        }

    </style>
    {% if category != "game" and category != "anime" %}

    <div class="category_container">
        <div class="category_box">
            <img src="https://cdn.discordapp.com/attachments/1029639077110235166/1208057511090065439/115921253_p0.png?ex=65e1e63b&is=65cf713b&hm=32ed619c813c8a3545cafb3fc09df234ba1bc0039639229bbdc9b234822a054a&" alt="Video Games">
            <a href="/characters/game">Video Game Characters</a>
        </div>
        <div class="category_box">
            <img src="http://localhost:8000/proxy-image/https://cdn.donmai.us/original/3d/36/3d36f0f9477f602943d474810e88c40b.jpg/" alt="Anime">
            <a href="/characters/anime">Anime Characters</a>
        </div>
    </div>
    {% endif %}

    <div class="category_container">
        {% if category == "game" %}
            {% for character_name, processed_character_name, file_name in character_links %}
                <div class="category_box">
                    <img src="http://localhost:8000/proxy-image/{{ file_name }}" alt="Video Games">
                    <a class="character_link" href="/named_characters/{{ character_name|lower }}">{{ processed_character_name }}</a>
                </div>
            {% endfor %}
        {% elif category == "anime" %}
            {% for character_name, processed_character_name, file_name in character_links %}
                <div class="category_box">
                    <img src="http://localhost:8000/proxy-image/{{ file_name }}" alt="Anime">
                    <a class="character_link" href="/named_characters/{{ character_name|lower }}">{{ processed_character_name }}</a>
                </div>
            {% endfor %}
        {% else %}
            <p>No characters available for this category.</p>
        {% endif %}
    </div>

    {% if named_character in named_character_list %}:
        <p>{{ named_character.text }}</p>
    {% endif %}

{% endblock %}


{% block secluded_box_content %}

<div class="secluded-box">
    <!-- Secluded box content -->
    <img src="{% url 'proxy_for_static_image' 'https://cdn.donmai.us/sample/12/8c/__keqing_genshin_impact_drawn_by_cokecoco__sample-128cdff55cec944f4bd5af3faa176150.jpg' %}" alt="Secluded Box Image">
    <p>Some text beneath the image</p>

    <div class="image-inside_secluded_box">
        {% for image in side_box_images %}
            {% if image.file_url|lower|slice:"-3:" == "png" or image.file_url|lower|slice:"-3:" == "jpg" %}
                <img src="{% url 'proxy_image' image.file_url %}" alt="Image" class="lightbox-trigger">
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block side_nav_buttons %}
        <a href="/">Home</a>
       {% if user.is_authenticated %}
            {% if user.is_staff %}
                <a href="/create/">Create</a>
            {% endif %}
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Log out</button>
            </form>
        {% else %}
            <a href="/register/">Register</a>
            <a href="/login/">Login</a>
        {% endif %}
{% endblock %}

{% block form_thing %}

{% endblock %}


{#    Add href links to further categories#}
