{% extends "The_Main/base.html" %}



{% block title %}
Characters
{% endblock %}

{% block content %}

{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'css/character_style.css' %}">
            {% csrf_token %}

    <style>
        .secluded-box {
            background-color: #ff0000; /* Example. */
        }

        .user_info {
            background-color: #ff0000; /* Example. */
        }

    </style>

    <div class="category_container">
    {% if category != "game" and category != "anime" and category != "v-tuber" %}
            <div class="category_box">
                <img src="{% static 'images/privaty.png' %}" alt="Video Games">
                <a href="/characters/game">Video Game Characters</a>
            </div>
            <div class="category_box">
                <img src="{% static 'images/fern.jpg' %}" alt="Anime">
                <a href="/characters/anime">Anime Characters</a>
            </div>
            <div class="category_box">
                <img src="{% static 'images/bae.jpg' %}" alt="V-Tubers">
                <a href="/characters/v-tuber">V-Tubers</a>
            </div>
    {% endif %}
    </div>


    <div class="category_container">
        {% if category == "game" %}
            {% for character_name, processed_character_name, file_name in character_links %}
                <div class="category_box">
                    <img src="http://localhost:8000/proxy-image/{{ file_name }}" alt="Video Games">
                    <a class="character_link" href="/named_characters/{{ character_name|lower }}">{{ processed_character_name }}</a>
                </div>
            {% endfor %}
        {% elif category == "anime" %}
            {% for character_name, processed_character_name, file_name in character_links %}
                <div class="category_box">
                    <img src="http://localhost:8000/proxy-image/{{ file_name }}" alt="Anime">
                    <a class="character_link" href="/named_characters/{{ character_name|lower }}">{{ processed_character_name }}</a>
                </div>
            {% endfor %}
        {% elif category == "v-tuber" %}
            {% for character_name, processed_character_name, file_name in character_links %}
                <div class="category_box">
                    <img src="http://localhost:8000/proxy-image/{{ file_name }}" alt="V-Tuber">
                    <a class="character_link" href="/named_characters/{{ character_name|lower }}">{{ processed_character_name }}</a>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    {% if named_character in named_character_list %}:
        <p>{{ named_character.text }}</p>
    {% endif %}

{% endblock %}



{% block side_nav_buttons %}
        <a href="/">Home</a>
       {% if user.is_authenticated %}
            {% if user.is_staff %}
                <a href="/create/">Create</a>
            {% endif %}
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Log out</button>
            </form>
        {% else %}
            <a href="/register/">Register</a>
            <a href="/login/">Login</a>
        {% endif %}
{% endblock %}

{% block form_thing %}

 <script src="{% static 'js/character_div_background.js' %}"></script>

{% endblock %}



{#    Add href links to further categories#}
